.venv/
__pycache__/
.ipynb_checkpoints/
.silicaignore
vault.yaml
.obsidian/
.silica/
.vscode/
docs/silica/Inbox/
.~lock.POLICY_PONTE_19.docx#
docs/relazione/.~lock.RELAZIONE_DATAPOLIS.docx#
docs/policy/.~lock.POLICY_PONTE_19.docx#
dist/